.*
build/*
BoardGame.xcodeproj/Liz.pbxuser
BoardGame.xcodeproj/Liz.perspectivev3
BoardGame.xcodeproj/project.pbxproj

BoardGame.xcodeproj/project.xcworkspace/xcuserdata/Liz.xcuserdatad/UserInterfaceState.xcuserstate
